<md-card *ngIf="league">
  <md-card-content>
    <div *ngIf="!selectedLeague; then thenTemplate; else elseTemplate"></div>
  </md-card-content>
</md-card> 

<ng-template #thenTemplate>
  <md-card-title>{{league.title}}</md-card-title>
  <p class="card-text">Equipos que pasan: {{league.teamsQualifiers}}</p>
  <a md-raised-button (click)="onSelect(league)">Entrar</a>
  <a md-raised-button (click)="onEdit(league)">Editar</a>
  <a md-raised-button (click)='deleteItem()'>Eliminar</a>
</ng-template>
<ng-template #elseTemplate>
   <app-league-form [tournament]='tournament' [league]='league' (objEmmit)='updated($event)'></app-league-form>
</ng-template>